@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body{
font: 12px arial;
}

h1{
    font-family: pacifico, cursive; font-weight: bold;
}

button{
    font-size: 12px; padding: 30px;
}